// Variables
$primaryFont: 'Source Sans Pro', sans-serif;
$headerFont: 'Bungee', cursive, sans-serif;

$primaryColor: #55acee;
$secondaryColor: #ccd6dd;
$primaryFontColor: #545149;
$bodyColor: #f4f1ec;
$buttonColor: #BF0000;
$buttonHoverColor: red;

// Mixins
@mixin buttonDefault {
  border: none;
  outline: none;
  background-color: transparent;
}

@mixin flexCenter($justify:center, $direction:row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}
