nav {
  width: 100%;
  background-color: #55acee;
  color: #FFFFFF;
  padding: 1.5rem;
  position: sticky;
  top: 0;
}

nav a {
  color: inherit; 
  text-decoration: inherit; 
}

/* Additional Classes */
.nav-contents {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 2em;
}

.write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25em;
}

.arrow {
  color: red;
  width: 100%;
  text-align: center;
  animation: MoveUpDown 2s linear infinite;
}

/* Arrow animation */
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


/* Styling for smaller screens */
@media (max-width: 800px) {
  .nav-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    padding: 1rem 0rem 1rem;
  }
}