.new-tweet {
  display: flex;
  flex-direction:column;
}

.new-tweet label {
  font-weight: 600;
}

.new-tweet textarea {
  width: 100%;
  background-color: transparent;
  border: 0px solid black;
  border-bottom: 3px solid black;
  outline: none;
  margin-bottom: 1rem;
}

.new-tweet button {
  background-color: #55acee;
  border: none;
  font-family: 'Bungee', cursive, sans-serif;
  color: white;
}

.new-tweet output {
  font-family: 'Bungee', cursive, sans-serif;
}

.form-foot {
  display: flex;
  justify-content: space-between;
}

#error {
  width: 100%;
  border: 0.5rem solid red;
  color: red;
  padding: 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px 0px 30px;
}